.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
}

button {
    cursor: pointer;
    white-space: nowrap;
    padding: 8px 16px;
    border-radius: 18px;
    border: 1px;
    user-select: none;
}