@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  outline: none;
}

:root {
  --black-color: #1d1d1f;
  --grey-color: #f2f2f2;
  --orange-color: #f66200;
  --white-color: #fafafa;
}

body {
  background-color: var(--white-color);
}
